* {
  background-color: bisque;
}

h1 {
  font-size: 48px;
  padding: 12px;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  color: rgb(255, 208, 0);
}

img {
  border-radius: 5px;
  width: 50px;
}

ul {
  
}