* {
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: center;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
  padding: 12px;
  background-color: black;
  text-align: center;
  color: rgb(255, 196, 0);
}

img {
  border-radius: 5px;
  width: 80px;
}

img#L {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

h2, h3, h4 {
  color: rgb(248, 208, 97); 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  text-align: center;
  margin: 25px 2px;

}

ul > li {
  font-size: 18px;
  margin-bottom: 20px;
}

ul > li > ul > li {
  color: rgb(161, 143, 129);
  font-size: 15px;
  margin: 4px;
}

div > ul > li {
  color: rgb(124, 182, 184);
  font-size: 18px;
  margin: 4px;
}

div {
  margin-bottom: 35px;
}

ol {
  list-style: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}

ol > li {
  list-style-type: decimal-leading-zero;
}

body {
  margin-bottom: 35px;
}